.container#paper-main-container
  if (mod)
    .row    
      .col-12
        h1= mod.code + ' ' + mod.name
        a(id='ask-question')
          .btn.btn-primary
            | Ask Question
    .row
      .col-12
        hr
      .col-1.center Score
      .col-8 Topic
      .col-1.center Replies
      .col-2.center Activity
    if (threads.length)
      each thread in threads
        .row.thread-card.vote-data
          //- p= JSON.stringify(thread)
          .col-1.center.votes
            a.upvote ▲
            .vote-count=0
            a.downvote ▼
          .col-8
            a(href='/thread/' + thread._id)
              h4= thread.title
            p.description= thread.description
          .col-1.center= thread.replyCount || 0
          .col-2.center= thread.lastReplied || thread.createdAt
    script(src='/js/paper.js')
  else
    .no-paper
      h1 We could not find what you were looking for. Try searching again?
      h1 OR
      h1 Ask a question!
      a(href="#")
        input.btn.btn-warning.button.button-primary(type='button', value='PYP Help')
