extends ../layout

block content
  script(src='../../js/vote.js').
  .question-container
    .row
      .col-2
        include ../partials/pyp-sidebar
      .col-10
        .container#paper-main-container
          h1 IM4717 - Web Application
          hr
          .question-card-row.question-bg
            .card.question-bg
              .card-body
                h1.question-card-number= "Q" + question.questionNo
                p= question.text
          .answers-container
            if (answers.length)
              for answer in answers
                .answer-card
                  .votes(data-user-vote=answer.userVote data-post-id=answer._id)
                    a.upvote ▲
                    h1=answer.votes
                    a.downvote ▼
                  if (answer.prof_approved)
                    if(answer.prof_approved == true)
                      i.fas.fa-star.gold-badge
                      span.professor-approved= "Professor Approved"
                  else
                    if(user)
                      if(user.profile.role == "Professor")
                        button.btn.btn-primary.btn-approve(type='button' id= answer._id) Approve this answer
                  p=answer.text
                  .details 
                    div
                      if(user)
                        img.answer-gravatar(src=user.gravatar(60)) 
                      span= ((answer.user_id.profile && answer.user_id.profile.name) || answer.user_id.email) + ' | ' +  answer.createdAt
                    div.user-ranking
                      span= (answer.user_id.profile.votes || "0") + " votes" 
                      if (answer.user_id.profile.badges.length != 0)
                        each badge in answer.user_id.profile.badges
                          if (badge == "Gold")
                            i.fas.fa-circle.gold-badge
                          else if (badge == "Silver")
                            i.fas.fa-circle.silver-badge
                          span= badge
            else
              p#no-answers No answers yet
          if (user)
            include ../partials/answerForm
          else
            p Login to answer question        
  
  script(src='/js/approve-answer.js')
  script(src='/js/paper.js')
