//- extends ../layout
//- 
//- block content
script(src='../../js/vote.js').

.question-card-row.question-bg
  .card.question-bg
    .card-body(id= question.questionNo)
      div.display-flex
        h1.question-card-number= "Q" + question.questionNo
        p= question.text
      if(question.figure)
        img(src= question.figure)
.answers-container
  p= JSON.stringify(question)
  //- if (question.answers)
  //-   p= JSON.stringify(question['answers'])
  //-   if (question['answers'].length)
  //-     for answer in question['answers']
  //- 
  //-       .answer-card
  //-         .votes(data-user-vote=answer.userVote data-post-id=answer._id)
  //-           a.upvote ▲
  //-           h1=answer.votes
  //-           a.downvote ▼
  //-         if (answer.prof_approved)
  //-           if(answer.prof_approved == true)
  //-             i.fas.fa-star.gold-badge
  //-             span.professor-approved= "Professor Approved"
  //-         p=answer.text
  //-         .details 
  //-           div
  //-             img.answer-gravatar(src=user.gravatar(60)) 
  //-             span= ((answer.user_id.profile && answer.user_id.profile.name) || answer.user_id.email) + ' | ' +  answer.createdAt
  //-           div.user-ranking
  //-             span= (answer.user_id.profile.votes || "0") + " votes" 
  //-             if (answer.user_id.profile.badges.length != 0)
  //-               each badge in answer.user_id.profile.badges
  //-                 if (badge == "Gold")
  //-                   i.fas.fa-circle.gold-badge
  //-                 else if (badge == "Silver")
  //-                   i.fas.fa-circle.silver-badge
  //-                 span= badge
  //-   else
  //-     p#no-answers No answers yet
if (user)
  include ../partials/answerForm
else
  p Login to answer question        


script(src='/js/paper.js')
